<h4 class="h4">Carnet</h4>
<hr class="red" />
<!-- tabla de pacientes -->
<form [formGroup]="searchForm">
    <div class="row form">
      <div class="col-sm-12">
        <p>INGRESA LOS DATOS DEL PACIENTE</p>
      </div>
    </div>
    <div class="row form">
        <div class="col-sm-4">
            <div class="form-group datepicker-group">
                <label class="control-label" for="curpPaciente">CURP:</label>
                <input class="form-control" type="text" placeholder="" formControlName="curpPaciente" />
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group datepicker-group">
                <label class="control-label" for="nnsPaciente">Numero de seguridad social:</label>
                <input class="form-control" id="nnsPaciente" type="text" placeholder="" formControlName="nnsPaciente" />
                <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group datepicker-group">
            <label class="control-label" for="unidadMedicaPaciente">Unidad medica:</label>
            <input class="form-control" type="text" placeholder="" formControlName="unidadMedicaPaciente" />
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          </div>
        </div>
    </div>
    <div class="row form">
      <div class="col-sm-4">
        <div class="form-group datepicker-group">
          <label class="control-label" for="nombrePaciente">Nombre(s):</label>
          <input class="form-control" type="text" placeholder="" formControlName="nombrePaciente" />
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group datepicker-group">
          <label class="control-label" for="apellidoPaternoPaciente">Apellido Paterno</label>
          <input class="form-control" id="apellidoPaternoPaciente" type="text" placeholder="" formControlName="apellidoPaternoPaciente" />
          <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group datepicker-group">
          <label class="control-label" for="apellidoMaternoPaciente">Apellido Materno</label>
          <input class="form-control" type="text" placeholder="" formControlName="apellidoMaternoPaciente" />
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="row form" style="margin-top: 2rem; margin-bottom: 5rem;">
      <div class="col-sm-4">
        <button (click)="limpiar()" class="btn ml-0" type="button">Limpiar</button>
        <button (click)="searchByNss()" [disabled]="false" class="btn btn-primary" type="button">Buscar</button>
      </div>
    </div>
</form>

<ng-container *ngIf="(pacientes.length > 0)">
  <h4 class="title col-12">Pacientes encontrados</h4>
  <table class="table table-bordered table-striped col-12">
    <thead>
      <tr>
        <th>NSS</th>
        <th>CURP</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <!-- ngFor del objeto de nucleo -->
      <tr *ngFor="let item of pacientes" (click)="asignarPaciente(item)">
        <th>{{item.nss ? item.nss : '-'}}</th>
        <th>{{item.curp ? item.curp : '-'}}</th>
        <th>{{item.nombre_paciente}} {{item.ap_paterno_paciente}} {{item.ap_materno_paciente}}</th>
      </tr>
    </tbody>
  </table>
</ng-container>

<!-- carnet -->
<ng-container *ngIf="pacienteHistoria.length > 1">
  <div class="form">
    <div class="title col-sm-12 bordet-b m-0 p-1 head-carnet" style="margin-left: 0.2%;">
      <div class="col-md-5 text-left">
        <p style="margin-bottom: 1.5rem!important;"><strong>Nombre:</strong><br />{{paciente.nombre_paciente}}, {{paciente.ap_paterno_paciente}} {{paciente.ap_materno_paciente}}</p>
        <br />
        <p style="margin-bottom: 1.5rem!important;"><strong>CURP:</strong><br />{{paciente.curp}}</p>
        <br />
        <p style="margin-bottom: 1.5rem!important;"><strong>NSS:</strong><br />{{paciente.nss}}</p>
        <br />
        <p style="margin-bottom: 1.5rem!important;"><strong>Edad:</strong><br />{{paciente.edad}} años</p>
      </div>
      <div class="col-md-4 text-left">
        <p style="margin-bottom: 1.5rem!important;"><strong>Fecha de nacimiento:</strong><br />{{paciente.fecha_nacimiento.$date| date}}</p>
        <br />
        <p style="margin-bottom: 1.5rem!important;"><strong>Agregado Médico:</strong><br />{{paciente.agregado_medico}}</p>
        <br />
        <p style="margin-bottom: 1.5rem!important;"><strong>Peso:</strong><br />{{paciente.peso}} Kg</p>
      </div>
      <div class="col-md-3 " style="position:absolute; bottom:0; right:0;">
        <img src="assets/img/carnet_img.png" width="100%" height="100%" />
      </div>
    </div>
  </div>
  <mat-expansion-panel hideToggle *ngFor="let historia of pacienteHistoria" style="margin-top: 2rem; margin-bottom: 2rem;">
    <mat-expansion-panel-header style="background-color: rgb(246 246 246);">
      <mat-panel-title>
        Unidad de atención:<br/>
        {{historia[0].unidad_medica_atencion}}
      </mat-panel-title>
      <mat-panel-description>
        Doctor (a):<br />
        {{historia[0].medico}}
      </mat-panel-description>
      <mat-panel-description>
        Cama:<br />
        {{historia[0].cama ? historia[0].cama : '-'}}
      </mat-panel-description>
      <mat-panel-description>
        Fecha:<br />
        {{historia[0].fecha_prescripcion | date}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table mat-table [dataSource]="historia" class="mat-elevation-z8" style="min-width: 100%;">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
      <!-- Position Column -->
      <ng-container matColumnDef="fecha_prescripcion">
        <th mat-header-cell *matHeaderCellDef> Fecha de prescripcion </th>
        <td mat-cell *matCellDef="let item"> {{item.fecha_prescripcion | date}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="id_prescripcion">
        <th mat-header-cell *matHeaderCellDef> Id prescripción </th>
        <td mat-cell *matCellDef="let item"> {{item.id_prescripcion}} </td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="generico">
        <th mat-header-cell *matHeaderCellDef> Genérico </th>
        <td mat-cell *matCellDef="let item"> {{item.generico}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="consumo">
        <th mat-header-cell *matHeaderCellDef> Consumo </th>
        <td mat-cell *matCellDef="let item"> {{item.consumo}} {{item.unidad_medida}}</td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="cantidad_bolos">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let item"> {{item.cantidad_bolos}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="entregado">
        <th mat-header-cell *matHeaderCellDef> Entregado </th>
        <td mat-cell *matCellDef="let item"> {{item.entregado}} <small class="color:red">{{item.motivo}}</small> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-expansion-panel>
</ng-container>
