<div class="row">
    <h4 class="col-sm-12">Seguimiento del paciente</h4>
</div>
<hr class="red" />
<!-- buscar -->
<form [formGroup]="searchForm" class="form">
    <div class="col-sm-3 pl-0">
        <div class="form-group">
            <label class="control-label" for="email-01">Número de Seguro Social:</label
      >
      <input
        class="form-control"
        id="email-01"
        placeholder="Número de Seguro Social"
        type="text" required
        onkeypress='return event.charCode >= 48 && event.charCode <= 57'
        formControlName="nssFlag"
        name ="nss"
        maxlength="10"/>
    </div>
  </div>
  <div class="col-sm-3 pl-0">
    <div class="form-group datepicker-group">
      <label class="control-label" for="f_inicio_seg">Fecha de aplicación:</label>
            <input class="form-control" id="f_inicio_seg" type="text" placeholder="DD/MM/AAAA" autocomplete="off" />
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </div>
    </div>
    <button class="btn btn-primary col-sm-4" type="submit" [disabled]="!searchForm.valid" (click)="buscar()">Buscar</button>
</form>


<!-- tabla -->
<div>
    <h4>Mezclas próximas por aplicar</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>NSS</th>
                <th>Agregado Médico</th>
                <th>Sesión</th>
                <th>Mezcla</th>
                <th>Fecha</th>
                <th>Nombre del medicamento</th>
            </tr>
        </thead>
        <tbody>
            <!-- ngFor del objeto de nucleo -->
            <tr (click)="openDialog(item)" class="hover" *ngFor="let item of seguimiento; let i =index;">
                <th>{{ item.nomPaciente }}</th>
                <th>{{ item.nss }}</th>
                <th>{{ item.agregadoMedico}}</th>
                <th>{{ item.numSesion}}</th>
                <th>{{item.numMezcla}}</th>

                <th>{{item.fecAplicacion}}</th>
                <th>
                    {{item.nombreMedicamento}}
                </th>
            </tr>
        </tbody>
    </table>
</div>