@import '../../../variables.scss';
.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    text-align: center;
}

.hover:hover {
    cursor: pointer;
    background-color: $gris_claro;
}