<app-modal-info [titulo]='tituloDialogo' [mensaje]='mensajeDialogo' [boton]='botonDialogo' [showDialog]='showDialog' (cerrarDialog)="showDialog=$event"></app-modal-info>
<section class="container-fluid">
  <div class="row">
    <div class="col-md-6 pl-0" style="min-height: 70vh; background: url('assets/img/login_portal.jpg'); background-repeat: no-repeat; background-size: contain">
      <h4 class="text-uppercase text-left" style="padding: 2rem;">
        Oncología Pediátrica
      </h4>
      <h2 class="text-uppercase text-left" style="padding: 2rem;">
        “La detección temprana del cáncer puede salvar vidas”
      </h2>
    </div>
    <div class="col-md-6 pr-0" style="padding-top: 4rem;">
      <div class="form-container">
        <h4 class="text-center text-uppercase mt-5">
          Inicio de sesión
        </h4>
        <p class="text-center text-uppercase">
          Completa los siguientes campos para acceder a tu cuenta
        </p>
        <hr />
        <form [formGroup]="autenticacionForm" role="form">
          <div class="form-group">
            <input formControlName="usuario" id="idUsuario" type="text" class="form-control" placeholder="CURP*" maxlength="50"
              autocomplete="username" />
            <div *ngIf="validarFormulario && formulario.usuario.errors">
              <small *ngIf="validarFormulario && formulario.usuario.errors.required"
                class="form-text form-text-error">{{ smallRequerido }}</small>
            </div>
            <br />
            <input formControlName="password" id="idPassword" type="password" class="form-control" placeholder="Contraseña*"
              maxlength="50" autocomplete="current-password" />
            <div *ngIf="validarFormulario && formulario.password.errors">
              <small *ngIf="validarFormulario && formulario.password.errors.required"
                class="form-text form-text-error">{{ smallRequerido }}</small>
            </div>
            <br />
            <div *ngIf="validarFormulario">
              <small class="form-text form-text-error">{{ smallRequerido }}</small>
            </div>
            <small class="form-text">*Campos obligatorios</small>
          </div>
        </form>
        <div class="pull-right">
          <button id="idLoginButton" name="loginButton" type="submit" role="button" [disabled]="!autenticacionForm.valid"
            class="btn btn-primary" (click)="autenticar()">
            Ingresar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
