<div class="row">
    <h4 class="col-sm-12">Tratamiento</h4>
</div>
<hr class="red" />
<!-- paciente -->
<div class="row">
    <div class="col-sm-4">
        <p>
            <b>
        Paciente: <br />
        {{pacienteActivo.nombre}} {{pacienteActivo.apPaterno}} {{pacienteActivo.apMaterno}}
      </b>
        </p>
    </div>
    <div class="col-sm-2">
        <p>
            <b>
        Edad: <br />
        {{pacienteActivo.edad}}
      </b>
        </p>
    </div>
    <div class="col-sm-2">
        <p>
            <b>
        NSS: <br />
        {{pacienteActivo.nss}}
      </b>
        </p>
    </div>
    <div class="col-sm-2">
        <p>
            <b>
        Agregado médico: <br />
        {{pacienteActivo.agregadoMedico}}
      </b>
        </p>
    </div>
    <div class="col-sm-2">
        <p>
            <b>
        Unidad de adscripción: <br />
        {{pacienteActivo.descUnidadMedicaAdscripcion}}
      </b>
        </p>
    </div>
</div>
<hr />
<!-- tratamiento -->
<h4 class="title">Tratamiento</h4>
<form [formGroup]="tratamientoForm" class="row">
    <div class="form-group col-sm-4">
        <label class="control-label" for="sesiones">Sesiones:</label>
        <input class="form-control" id="sesiones" type="number" placeholder="0" min="0" (change)="checkSesiones()" formControlName="sesiones" />
    </div>
    <div class="col-sm-4 pl-0">
        <div class="form-group datepicker-group">
            <label class="control-label" for="f_inicio">Fecha inicio:</label>
            <input class="form-control" id="f_inicio" type="text" placeholder="dd/mm/aaaa" (change)="checkSesiones()" formControlName="fechaInicio" />
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </div>
    </div>
    <div class="col-sm-4 pl-0">
        <div class="form-group datepicker-group">
            <label class="control-label" for="f_fin">Fecha de término:</label>
            <input class="form-control" id="f_fin" type="text" placeholder="dd/mm/aaaa" (change)="checkSesiones()" formControlName="fechaFin" />
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group col-sm-12">
        <label class="control-label" for="text-01">Información adicional al diagnóstico:</label>
        <textarea class="form-control" rows="5" id="text-01" maxlength="1000" (change)="checkSesiones()" formControlName="indicaciones"></textarea>
    </div>
</form>
<!-- Sesión -->
<h4 class="title">Sesiones / Fases</h4>
<div>
    <!-- fila 1 -->
    <div class="row">
        <div class="form-group col-sm-4">
            <label class="control-label" for="n-sesion">Sesión actual:</label>
            <input class="form-control" id="n-sesion" type="number" disabled [value]="numerodeSesion" />
        </div>
    </div>
    <!-- fila 2 -->
    <div class="row">
        <!-- fecha inicio -->
        <div class="col-sm-4">
            <div class="form-group datepicker-group">
                <label class="control-label" for="f_inicio2">Fecha inicio:</label>
                <input class="form-control" id="f_inicio2" type="text" [value]="sesion.fechaIni" placeholder="dd/mm/aaaa" [disabled]="tratamientoValido" />
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
        </div>
        <!-- fechafin -->
        <div class="col-sm-4">
            <div class="form-group datepicker-group">
                <label class="control-label" for="f_fin2">Fecha de término:</label>
                <input class="form-control" id="f_fin2" type="text" [value]="sesion.fechaFin" placeholder="dd/mm/aaaa" [disabled]="tratamientoValido" />
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
        </div>
        <!-- duracion -->
        <div class="form-group col-sm-4">
            <label class="control-label" for="duracion">Duración (días):</label>
            <input class="form-control" [value]="sesion.duracion" id="duracion" type="number" min="0" placeholder="0" disabled />
        </div>
        <!-- info -->
        <div class="form-group col-sm-12">
            <label class="control-label" for="text-02">Indicaciones adicionales:</label>
            <textarea class="form-control" (change)="checkSesionActual()" [(ngModel)]="sesion.info" rows="5" id="text-02" [disabled]="tratamientoValido" maxlength="1000"></textarea>
        </div>
    </div>
</div>
<!-- Medicamentos sesion -->
<h4 class="title">Premedicamentos</h4>
<form [formGroup]="sesionMedicinaForm">
    <!-- fila 1 -->
    <div class="row">
        <!-- nombre -->
        <div class="form-group col-sm-8">
            <label class="control-label" for="nombre-med-01">Nombre:</label>
            <select class="form-control" formControlName="cveMedicamento" (change)="changeMedicamentoSesion()" id="nombre-med-01">
        <option disabled value="">Selecciona un medicamento</option>
        <option *ngFor="let med of medicamentosCombo" [value]="med.cveMedicamento">
          {{ med.desMedicamento }}
        </option>
      </select>
        </div>
        <!-- dosis -->
        <div class="form-group col-sm-1">
            <label class="control-label" for="dosis-med-01">Dosis:</label>
            <input class="form-control" id="dosis-med-01" type="number" formControlName="desDosis" min="1" placeholder="0" />
        </div>
        <!-- unidad -->
        <div class="form-group col-sm-3">
            <label class="control-label" for="input-0201"></label>
            <input class="form-control" id="input-0201" type="text" formControlName="refIndicacion" />
        </div>
    </div>
    <!-- fila 2 -->
    <div class="row">
        <!-- via de administracion -->
        <div class="form-group col-sm-3">
            <label class="control-label" for="select-0201">Via de administración:</label>
            <select class="form-control" formControlName="cveViaAdministracion" id="select-0201">
        <option disabled value="">Selecciona una via</option>
        <option *ngFor="let d of viasAdministracion" [value]="d.cveViaAdministracion">
          {{ d.desViaAdministracion }}
        </option>
      </select>
        </div>
        <!-- intervalo -->
        <div class="form-group col-sm-1">
            <label class="control-label" for="inpu-0301">Intervalo:</label>
            <input class="form-control" id="inpu-0301" type="text" formControlName="numIntervalo" />
        </div>
        <!-- tiempo intervalo -->
        <div class="form-group col-sm-3">
            <label class="control-label" for="select-0401">Tiempo de intervalo:</label>
            <select class="form-control" formControlName="cveTiempoIntervalo" id="select-0401">
        <option disabled value="">Selecciona un tiempo</option>
        <option *ngFor="let d of unidadesTiempo" [value]="d.cveUnidadTiempo">
          {{ d.desUnidadTiempo }}
        </option>
      </select>
        </div>
        <!-- duracion -->
        <div class="form-group col-sm-1">
            <label class="control-label" for="inpu-0401">Duración:</label>
            <input class="form-control" id="inpu-0401" type="text" formControlName="numDuracion" />
        </div>
        <!-- tiempo duracion -->
        <div class="form-group col-sm-3">
            <label class="control-label" for="select-0601">Tiempo de duración:</label>
            <select class="form-control" formControlName="cveTiempoDuracion" id="select-0601">
        <option disabled value="">Selecciona un tiempo</option>
        <option *ngFor="let d of unidadesTiempo" [value]="d.cveUnidadTiempo">
          {{ d.desUnidadTiempo }}
        </option>
      </select>
        </div>
    </div>
    <!-- fila 3 -->
    <div class="row">
        <!-- tiempo infucion -->
        <div class="form-group col-sm-4">
            <label class="control-label" for="select-0501">Tiempo de infusión:</label>
            <select class="form-control" formControlName="cveTiempoInfusion" id="select-0501">
        <option disabled value="">Selecciona un tiempo de infusión</option>
        <option *ngFor="let d of tiemposInfusion" [value]="d.cveTiempoInfusion">
          {{ d.desTiempoInfusion }}
        </option>
      </select>
        </div>
        <!-- velocidad infucion -->
        <div class="form-group col-sm-4">
            <label class="control-label" for="vel-dur01">Velocidad de infusión:</label>
            <input class="form-control" id="vel-dur01" type="text" formControlName="desVelocidadInfusion" />
        </div>
        <!-- refFolio -->
        <div *ngIf="medicamentoSesionAuth" class="form-group col-sm-4">
            <label class="control-label" for="folio-0101">Folio:</label>
            <input class="form-control" id="folio-0101" type="text" maxlength="20" formControlName="refFolio" />
        </div>
    </div>
</form>
<hr>
<button *ngIf="!tratamientoValido" [disabled]="!sesionMedicinaForm.valid" (click)="addMedicinaSesion()" class="add-btn">
  <span class="glyphicon glyphicon-plus-sign"></span> Añadir medicamento
</button>
<hr>
<!-- contenedor de sesionMedicamentos -->
<!-- ngfor de sesionMedicamentos -->
<mat-accordion>
    <mat-expansion-panel *ngFor="let med of sesionMedicamentos; let i = index" class="top-buffer">
        <mat-expansion-panel-header>
            <mat-panel-title> Medicamento {{ i+1 }} </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- sesionMedicamentos -->
        <!-- fila 1 -->
        <div class="row">
            <!-- nombre -->
            <div class="form-group col-sm-8">
                <label class="control-label" for="nombre-med">Nombre:</label>
                <select class="form-control" [(ngModel)]="med.cveMedicamento" id="nombre-med">
          <option disabled value="">Selecciona un medicamento</option>
          <option *ngFor="let med of medicamentosCombo" [value]="med.cveMedicamento">
            {{ med.desMedicamento }}
          </option>
        </select>
            </div>
            <!-- dosis -->
            <div class="form-group col-sm-1">
                <label class="control-label" for="dosis-med">Dosis:</label>
                <input class="form-control" id="dosis-med" type="number" [(ngModel)]="med.desDosis" min="1" placeholder="0" />
            </div>
            <!-- unidad -->
            <div class="form-group col-sm-3">
                <label class="control-label" for="input-02"></label>
                <input class="form-control" id="input-02" type="text" disabled [value]="tomarMedicamento(med.cveMedicamento).desForma" [(ngModel)]="med.refIndicacion" />
            </div>
        </div>
        <!-- fila 2 -->
        <div class="row">
            <!-- via de administracion -->
            <div class="form-group col-sm-3">
                <label class="control-label" for="select-02">Via de administración:</label>
                <select class="form-control" [(ngModel)]="med.cveViaAdministracion" id="select-02">
          <option disabled value="">Selecciona una via</option>
          <option *ngFor="let d of viasAdministracion" [value]="d.cveViaAdministracion">
            {{ d.desViaAdministracion }}
          </option>
        </select>
            </div>
            <!-- intervalo -->
            <div class="form-group col-sm-1">
                <label class="control-label" for="inpu-03">Intervalo:</label>
                <input class="form-control" id="inpu-03" type="text" [(ngModel)]="med.numIntervalo" />
            </div>
            <!-- tiempo intervalo -->
            <div class="form-group col-sm-3">
                <label class="control-label" for="select-04">Tiempo de intervalo:</label>
                <select class="form-control" [(ngModel)]="med.cveTiempoIntervalo" id="select-04">
          <option disabled value="">Selecciona un tiempo</option>
          <option *ngFor="let d of unidadesTiempo" [value]="d.cveUnidadTiempo">
            {{ d.desUnidadTiempo }}
          </option>
        </select>
            </div>
            <!-- duracion -->
            <div class="form-group col-sm-1">
                <label class="control-label" for="inpu-04">Duración:</label>
                <input class="form-control" id="inpu-04" type="text" [(ngModel)]="med.numDuracion" />
            </div>
            <!-- tiempo duracion -->
            <div class="form-group col-sm-3">
                <label class="control-label" for="select-06">Tiempo de duración:</label>
                <select class="form-control" [(ngModel)]="med.cveTiempoDuracion" id="select-06">
          <option disabled value="">Selecciona un tiempo</option>
          <option *ngFor="let d of unidadesTiempo" [value]="d.cveUnidadTiempo">
            {{ d.desUnidadTiempo }}
          </option>
        </select>
            </div>
        </div>
        <!-- fila 3 -->
        <div class="row">
            <!-- tiempo infucion -->
            <div class="form-group col-sm-4">
                <label class="control-label" for="select-05">Tiempo de infusión:</label>
                <select class="form-control" [(ngModel)]="med.cveTiempoInfusion" id="select-05">
          <option disabled value="">Selecciona un tiempo de infusión</option>
          <option *ngFor="let d of tiemposInfusion" [value]="d.cveTiempoInfusion">
            {{ d.desTiempoInfusion }}
          </option>
        </select>
            </div>
            <!-- velocidad infucion -->
            <div class="form-group col-sm-4">
                <label class="control-label" for="vel-dur">Velocidad de infusión:</label>
                <input class="form-control" id="vel-dur" type="text" [(ngModel)]="med.desVelocidadInfusion" />
            </div>
            <!-- refFolio -->
            <div *ngIf="medicamentoMezclaAuth" class="form-group col-sm-4">
                <label class="control-label" for="folio-01">Folio:</label>
                <input class="form-control" id="folio-01" type="text" maxlength="20" [(ngModel)]="med.refFolio" />
            </div>
        </div>
        <hr />
        <div class="btn-container">
            <button (click)="deleteMedicinaSesion(i)" class="btn btn-default active" type="button">
        Eliminar
      </button>
            <button class="btn btn-primary active" (click)="successAlerts()" type="button">Guardar</button>
        </div>
    </mat-expansion-panel>
</mat-accordion>
<hr>

<!-- Mezcla -->
<h4 class="title">Mezcla</h4>
<div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group datepicker-group">
                <label class="control-label" for="f_apl">Fecha de aplicación:</label>
                <input class="form-control" id="f_apl" type="text" placeholder="dd/mm/aaaa" [(ngModel)]="mezcla.fecha" [disabled]="sessionValida" />
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- medicamento -->
<h5 class="title">Medicamento</h5>
<form [formGroup]="medicinaForm">
    <!-- fila 1 -->
    <div class="row">
        <!-- nombre -->
        <div class="form-group col-sm-8">
            <label class="control-label" for="nombre-med">Nombre:</label>
            <select class="form-control" formControlName="cveMedicamento" (change)="changeMedicamentoMezcla()" id="nombre-med">
        <option disabled value="">Selecciona un medicamento</option>
        <option *ngFor="let med of medicamentosCombo" [value]="med.cveMedicamento">
          {{ med.desMedicamento }}
        </option>
      </select>
        </div>
        <!-- dosis -->
        <div class="form-group col-sm-1">
            <label class="control-label" for="dosis-med">Dosis:</label>
            <input class="form-control" id="dosis-med" type="number" formControlName="desDosis" min="1" placeholder="0" />
        </div>
        <!-- unidad -->
        <div class="form-group col-sm-3">
            <label class="control-label" for="input-02"></label>
            <input class="form-control" id="input-02" type="text" formControlName="refIndicacion" />
        </div>
    </div>
    <!-- fila 2 -->
    <div class="row">
        <!-- via de administracion -->
        <div class="form-group col-sm-3">
            <label class="control-label" for="select-02">Via de administración:</label>
            <select class="form-control" formControlName="cveViaAdministracion" id="select-02">
        <option disabled value="">Selecciona una via</option>
        <option *ngFor="let d of viasAdministracion" [value]="d.cveViaAdministracion">
          {{ d.desViaAdministracion }}
        </option>
      </select>
        </div>
        <!-- intervalo -->
        <div class="form-group col-sm-1">
            <label class="control-label" for="inpu-03">Intervalo:</label>
            <input class="form-control" id="inpu-03" type="text" formControlName="numIntervalo" />
        </div>
        <!-- tiempo intervalo -->
        <div class="form-group col-sm-3">
            <label class="control-label" for="select-04">Tiempo de intervalo:</label>
            <select class="form-control" formControlName="cveTiempoIntervalo" id="select-04">
        <option disabled value="">Selecciona un tiempo</option>
        <option *ngFor="let d of unidadesTiempo" [value]="d.cveUnidadTiempo">
          {{ d.desUnidadTiempo }}
        </option>
      </select>
        </div>
        <!-- duracion -->
        <div class="form-group col-sm-1">
            <label class="control-label" for="inpu-04">Duración:</label>
            <input class="form-control" id="inpu-04" type="text" formControlName="numDuracion" />
        </div>
        <!-- tiempo duracion -->
        <div class="form-group col-sm-3">
            <label class="control-label" for="select-06">Tiempo de duración:</label>
            <select class="form-control" formControlName="cveTiempoDuracion" id="select-06">
        <option disabled value="">Selecciona un tiempo</option>
        <option *ngFor="let d of unidadesTiempo" [value]="d.cveUnidadTiempo">
          {{ d.desUnidadTiempo }}
        </option>
      </select>
        </div>
    </div>
    <!-- fila 3 -->
    <div class="row">
        <!-- tiempo infucion -->
        <div class="form-group col-sm-4">
            <label class="control-label" for="select-05">Tiempo de infusión:</label>
            <select class="form-control" formControlName="cveTiempoInfusion" id="select-05">
        <option disabled value="">Selecciona un tiempo de infusión</option>
        <option *ngFor="let d of tiemposInfusion" [value]="d.cveTiempoInfusion">
          {{ d.desTiempoInfusion }}
        </option>
      </select>
        </div>
        <!-- velocidad infucion -->
        <div class="form-group col-sm-4">
            <label class="control-label" for="vel-dur">Velocidad de infusión:</label>
            <input class="form-control" id="vel-dur" type="text" formControlName="desVelocidadInfusion" />
        </div>
        <!-- refFolio -->
        <div *ngIf="medicamentoMezclaAuth" class="form-group col-sm-4">
            <label class="control-label" for="folio-01">Folio:</label>
            <input class="form-control" id="folio-01" type="text" maxlength="20" formControlName="refFolio" />
        </div>
    </div>

</form>

<!-- diluyente -->
<div class="row form">
    <h5 class="col-sm-1">Diluyente</h5>
    <hr class="col-sm-10" />
</div>

<form class="row" [formGroup]="diluyenteForm">
    <div class="form-group col-sm-8">
        <label class="control-label" for="nombre-dil">Nombre:</label>
        <select class="form-control" formControlName="cveDiluyente" id="nombre-dil">
      <option value="">Sin diluyente</option>
      <option *ngFor="let dil of diluyentes" [value]="dil.cveDiluyente">
        {{ dil.desDiluyente }}
      </option>
    </select>
    </div>
    <div class="form-group col-sm-2">
        <label class="control-label" for="dosis-med2">Dosis:</label>
        <input class="form-control" formControlName="desDosis" id="dosis-med2" min="1" type="number" placeholder="0" />
    </div>
    <div class="form-group col-sm-2">
        <label class="control-label" for="unidad-dil">Unidad:</label>
        <select class="form-control" formControlName="cveUnidadMedida" id="unidad-dil">
      <option value="">Sin unidad</option>
      <option *ngFor="let d of unidadesMedida" [value]="d.cveUnidadMedida">
        {{ d.desUnidadMedida }}
      </option>
    </select>
    </div>
</form>
<hr />

<button *ngIf="!tratamientoValido" [disabled]="!medicinaForm.valid" (click)="addMedicina()" class="add-btn">
  <span class="glyphicon glyphicon-plus-sign"></span> Añadir medicamento
</button>

<!-- contenedor de medicamentos -->
<!-- ngfor de medicamentos -->
<mat-accordion>
    <mat-expansion-panel *ngFor="let med of medicamentos; let i = index" class="top-buffer">
        <mat-expansion-panel-header>
            <mat-panel-title> Medicamento {{ i+1 }} </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- medicamentos -->
        <!-- fila 1 -->
        <div class="row">
            <!-- nombre -->
            <div class="form-group col-sm-8">
                <label class="control-label" for="nombre-med">Nombre:</label>
                <select class="form-control" [(ngModel)]="med.cveMedicamento" id="nombre-med">
          <option disabled value="">Selecciona un medicamento</option>
          <option *ngFor="let med of medicamentosCombo" [value]="med.cveMedicamento">
            {{ med.desMedicamento }}
          </option>
        </select>
            </div>
            <!-- dosis -->
            <div class="form-group col-sm-1">
                <label class="control-label" for="dosis-med">Dosis:</label>
                <input class="form-control" id="dosis-med" type="number" [(ngModel)]="med.desDosis" min="1" placeholder="0" />
            </div>
            <!-- unidad -->
            <div class="form-group col-sm-3">
                <label class="control-label" for="input-02"></label>
                <input class="form-control" id="input-02" type="text" disabled [value]="tomarMedicamento(med.cveMedicamento).desForma" [(ngModel)]="med.refIndicacion" />
            </div>
        </div>
        <!-- fila 2 -->
        <div class="row">
            <!-- via de administracion -->
            <div class="form-group col-sm-3">
                <label class="control-label" for="select-02">Via de administración:</label>
                <select class="form-control" [(ngModel)]="med.cveViaAdministracion" id="select-02">
          <option disabled value="">Selecciona una via</option>
          <option *ngFor="let d of viasAdministracion" [value]="d.cveViaAdministracion">
            {{ d.desViaAdministracion }}
          </option>
        </select>
            </div>
            <!-- intervalo -->
            <div class="form-group col-sm-1">
                <label class="control-label" for="inpu-03">Intervalo:</label>
                <input class="form-control" id="inpu-03" type="text" [(ngModel)]="med.numIntervalo" />
            </div>
            <!-- tiempo intervalo -->
            <div class="form-group col-sm-3">
                <label class="control-label" for="select-04">Tiempo de intervalo:</label>
                <select class="form-control" [(ngModel)]="med.cveTiempoIntervalo" id="select-04">
          <option disabled value="">Selecciona un tiempo</option>
          <option *ngFor="let d of unidadesTiempo" [value]="d.cveUnidadTiempo">
            {{ d.desUnidadTiempo }}
          </option>
        </select>
            </div>
            <!-- duracion -->
            <div class="form-group col-sm-1">
                <label class="control-label" for="inpu-04">Duración:</label>
                <input class="form-control" id="inpu-04" type="text" [(ngModel)]="med.numDuracion" />
            </div>
            <!-- tiempo duracion -->
            <div class="form-group col-sm-3">
                <label class="control-label" for="select-06">Tiempo de duración:</label>
                <select class="form-control" [(ngModel)]="med.cveTiempoDuracion" id="select-06">
          <option disabled value="">Selecciona un tiempo</option>
          <option *ngFor="let d of unidadesTiempo" [value]="d.cveUnidadTiempo">
            {{ d.desUnidadTiempo }}
          </option>
        </select>
            </div>
        </div>
        <!-- fila 3 -->
        <div class="row">
            <!-- tiempo infucion -->
            <div class="form-group col-sm-4">
                <label class="control-label" for="select-05">Tiempo de infusión:</label>
                <select class="form-control" [(ngModel)]="med.cveTiempoInfusion" id="select-05">
          <option disabled value="">Selecciona un tiempo de infusión</option>
          <option *ngFor="let d of tiemposInfusion" [value]="d.cveTiempoInfusion">
            {{ d.desTiempoInfusion }}
          </option>
        </select>
            </div>
            <!-- velocidad infucion -->
            <div class="form-group col-sm-4">
                <label class="control-label" for="vel-dur">Velocidad de infusión:</label>
                <input class="form-control" id="vel-dur" type="text" maxlength="20" [(ngModel)]="med.desVelocidadInfusion" />
            </div>
            <!-- refFolio -->
            <div *ngIf="medicamentoMezclaAuth" class="form-group col-sm-4">
                <label class="control-label" for="folio-01">Folio:</label>
                <input class="form-control" id="folio-01" type="text" [(ngModel)]="med.refFolio" />
            </div>
        </div>
        <!-- diluyente -->
        <div class="row form">
            <h5 class="col-sm-1">Diluyente</h5>
            <hr class="col-sm-10" />
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label class="control-label" for="nombre-dil">Nombre:</label>
                <select class="form-control" [(ngModel)]="med.mezclaDiluyente.cveDiluyente" id="nombre-dil">
          <option value="">Sin diluyente</option>
          <option *ngFor="let dil of diluyentes" [value]="dil.cveDiluyente">
            {{ dil.desDiluyente }}
          </option>
        </select>
            </div>
            <div class="form-group col-sm-2">
                <label class="control-label" for="dosis-med2">Dosis:</label>
                <input class="form-control" [(ngModel)]="med.mezclaDiluyente.desDosis" id="dosis-med2" min="1" type="number" placeholder="0" />
            </div>
            <div class="form-group col-sm-2">
                <label class="control-label" for="unidad-dil">Unidad:</label>
                <select class="form-control" [(ngModel)]="med.mezclaDiluyente.cveUnidadMedida" id="unidad-dil">
          <option value="">Sin unidad</option>
          <option *ngFor="let d of unidadesMedida" [value]="d.cveUnidadMedida">
            {{ d.desUnidadMedida }}
          </option>
        </select>
            </div>
        </div>
        <hr />
        <div class="btn-container">
            <button (click)="deleteMedicina(i)" class="btn btn-default active" type="button">
        Eliminar
      </button>
            <button class="btn btn-primary active" (click)="successAlerts()" type="button">Guardar</button>
        </div>
    </mat-expansion-panel>
</mat-accordion>
<hr>

<div class="btn-container">
    <button class="btn btn-default active" (click)="clearMezcla()" type="button">Limpiar</button>
    <button (click)="guardarMezcla()" [disabled]="medicinaValida" class="btn btn-primary active" type="button">Guardar
    mezcla</button>
</div>

<!-- sesiones -->
<mat-accordion>
    <!-- ngfor de sesiones -->
    <mat-expansion-panel *ngFor="let sesion of tratamiento.sesiones">
        <mat-expansion-panel-header>
            <mat-panel-title> Sesión {{sesion.indSesion}} </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- mezcla -->
        <section *ngFor="let m of sesion.mezclas; let i = index">
            <div class="row">
                <div class="col-sm-10">
                    <b> Mezcla {{i+1}} - Fecha de aplicación {{m.fecAplicacion | date:'dd/LL/yyyy'}} </b>
                </div>
                <!-- <div class="col-sm-1">
          <button class="add-btn">Eliminar</button>
        </div>
        <div class="col-sm-1">
          <button class="add-btn">Editar</button>
        </div> -->

            </div>
            <hr />
            <div *ngFor="let med of m.mezclasMedicamento">
                <!-- informacion medicina -->
                <div class="row">
                    <div class="col-sm-5">
                        <b>Nombre Medicamento:</b> <br /> {{tomarMedicamento(med.cveMedicamento).desMedicamento}}
                    </div>
                    <!-- diluyente -->
                    <div class="col-sm-5">
                        <span *ngIf="med.mezclaDiluyente.cveDiluyente">
              <b>Diluyente:</b> <br /> {{tomarDiluyentes(med.mezclaDiluyente.cveDiluyente) }}
            </span>
                        <span *ngIf="!med.mezclaDiluyente.cveDiluyente">
              <b>Diluyente:</b> <br /> Sin diluyente
            </span>
                    </div>
                    <div class="col-sm-2">
                        <b> Indicaciones:</b> <br /> {{med.refIndicacion}}
                    </div>
                </div>
                <!-- tiempos medicina -->
                <div class="row">
                    <div class="col-sm-4">
                        <b>Cada</b> : <br /> {{med.numIntervalo}} {{tomarTiempo(med.cveTiempoIntervalo).desUnidadTiempo}}
                    </div>
                    <div class="col-sm-4">
                        <b>Durante:</b> <br /> {{med.numDuracion}} {{tomarTiempo(med.cveTiempoDuracion).desUnidadTiempo}}
                    </div>
                    <!-- <div class="col-sm-4">
            Via de administración: <br />
            Oral
          </div> -->
                </div>
            </div>
            <hr>
        </section>
    </mat-expansion-panel>
</mat-accordion>

<div class="btn-container top-buffer" *ngIf="numerodeSesion < tratamientoForm.value.sesiones">
    <button class="btn btn-primary active" [disabled]="sessionValida" (click)="nextSession()" type="button">Siguiente
    sesión</button>
</div>

<hr />
<div class="btn-container">
    <!-- <button class="btn btn-default" type="button">Cancelar</button> -->
    <button class="btn btn-primary" (click)="successAlerts()" [routerLink]="['/pao/sucess']" type="button">Guardar
    tratamiento</button>
</div>