$rojo:#9d2449;
$azul:#4D92DF;
$negro: #000000;
$negro2: #716f6f;
$negro3: #393C3E;
$gris_oscuro: #545454;
$blanco: #ffffff;
//Carnet 
$gris: #EAECEE;
$gris_claro: #F9FBFD;
$gris_medio:#F9F9F9;
$oro:#F6F1E8;
$oro_borde:#eee4d1;
$oro_claro:#FCF2CE;
$oro_claro_borde:#FFEBA1;
$oro_oscuro: #F9E391;

