@import '../../variables.scss';

nav {
  background-color: $gris_claro;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    .nav-name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span, a{
        font-size: .7em;
        font-weight: bold;
      }
    }
  }
}

a {
  text-decoration: none;
  color: $negro;
}

.nav-link:hover,  .active {
  background-color: $rojo!important;
  color: $blanco!important;
}

.fs-14 {
  font-size: 14px!important;
}
