.apli-container {
    display: flex;
    align-items: center;
}

.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    max-height: 45vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}