<h2 mat-dialog-title class="text-center">Detalles Medicamento</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-sm-4">
            <b>Nombre Medicamento:</b> <br> {{data.nombreMedicamento}}
        </div>
        <div class="col-sm-4">
            <b>Diluyente:</b> <br> {{data.diluyenteMedicamento}}
        </div>
        <div class="col-sm-4">
            <b>Indicaciones:</b> <br> {{data.indicaciones}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <b>Cada:</b> <br> {{data.cada}}
        </div>
        <div class="col-sm-4">
            <b>Durante:</b> <br> {{data.durante}}
        </div>
        <div class="col-sm-4">
            <b>Velocidad de infusión</b> <br> {{data.detalleInfusion}}
        </div>
    </div>
    <hr>
    <h3 class="title"> Aplicación </h3>
    <div class="row apli-container">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="email-01">Hora de aplicación:</label>
                <input id="horaAplicacion" [(ngModel)]="horaAplicacion" (change)="checkSesiones($event)" class="form-control" placeholder="HH:MM" type="time" />
            </div>
        </div>
        <div class="col-sm-2">
            <mat-checkbox id="check" [checked]="indMezcla" [(ngModel)]="indMezcla" (change)="checkSesiones($event)">
                No aplicado
            </mat-checkbox>
        </div>
        <div *ngIf="showMotivo" class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="email-01">Motivo de cancelación:</label>
                <select class="form-control" [(ngModel)]="motivo">
                    <option value="0" disabled>Selecciona un motivo</option>
                    <option  *ngFor="let m of motivosCancelacion" [value]="m.value"> {{m.desc}} </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="showObs">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label" for="email-05">Observaciones:</label>
                <textarea class="form-control" [formControl]="observaciones" id="email-05" rows="3"></textarea>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close> Cancelar </button>
    <button mat-button (click)="guardarMed()" [disabled]="!observaciones.valid"> Guardar </button>
</mat-dialog-actions>